.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(133, 162, 208);
}

.navbar-brand {
  font-weight: bold;
  color: #007bff !important;
}

.navbar-nav .nav-link {
  color: #555;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
