name: Backend CI
on:
  push:
    branches:
      - develop
jobs:
  backend-ci:
    name: Test - Unit & Integration & SonarCloud Scan & Slack WebHook
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 21
      - name: Unit & Integration Tests
        run: mvn -B verify # -B: --batch-mode
        working-directory: Back
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
      - name: Sonar
        if: success() # always() failure() success()
        working-directory: Back
        run: >
          mvn -B verify -DskipTests sonar:sonar
          -Dsonar.projectKey=rafaelacirino_foro-academico
          -Dsonar.organization=rafaelacirino
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.token=$SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
